body {
  margin: 0 auto;
  background-color: black;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
}

.display-bar {
  display: flex;
  font-size: 40px;
  color: white;
  justify-content: flex-end;
  margin: 20px 20px 20px 20px;
}

.calculator-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator-row {
  display: flex;
}

.button {
  font-size: 18px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  height: 50px;
  width: 50px;
  margin: 5px 5px 5px 5px;
  color: white;
}

.button:hover {
  cursor: pointer;
}

.operation-button {
  font-size: 24px;
}

.dark-grey-button {
  background-color: #666666;
}

.orange-button {
  background-color: #ff9021;
}

.light-grey-button {
  background-color: #d3d3d3;
  color: black;
}

.wide-button {
  height: 50px;
  width: 110px;
  border-radius: 30px;
}
